body{
  text-align:center;
  background-color:white;
}
nav ul li {
  display:block;
  border-top: 1px #79896d solid;
  background:#E8806E;
}

nav a{
  font-size: 1.1em;
  display:block;
  text-decoration:none;
  padding:20px 30px;
  color:#20304F;
  font-family: 'Josefin Slab', Times, serif;
  font-weight: bold;
}

header {
  display: flex;
  flex-flow;
  margin:0px;
  padding: 0 10px;
}

.menu-trigger {
    order: 1;
    color: #E8806E;
}

header h1 {
    order: 2;
}

nav ul {
    display: none;
}

@media screen and (min-width: 550px){

    nav ul {
        display: flex;
        flex-flow: row;
        justify-content: center;
    }

    nav ul li {
        border-top: none;
    }

    nav a:hover{
      background: #F2DCD3;
    }

    .first{
      margin-right:auto;
    }

    .menu-trigger {
        display: none;
    }

    header h1 {
        order: 1;
    }

    nav {
        order: 2;
    }

}


header h1{
  text-align: center;
  color:#20304F;
  font-family: 'Lobster', Times, serif;
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 5px;
  width: 100%;
}

.header2{
  color:#009FB5;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.main{
  margin-top:10px;
  padding-bottom: 5px;
}

.about{
  padding-bottom: 20px;
  justify-content: center;
  align-self: center;
}

.about-me{
  width:100%;
  color:#009FB5;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 0px;
  text-align: left;
  padding:10px;
  padding-top: 0px;
  max-width: 1700px;
}

.wrapper{
  display:flex;
  flex-flow:row wrap;
  text-align:center;
  width: 100%;
}

.main, .aside{
  flex:1 100%;
  padding-left:10px;
  padding-right: 10px;
}

img {
  border-style: none;
  width:100%;
  padding-bottom:30px;
  max-width: 300px;
}

.featuredcontent{
  margin: 30px auto 40px auto;
}

.featureheader{
  color:#20304F;
  font-family: 'Lobster', Times, serif;
  font-size: 2em;
  font-weight: bold;
  display:block;
  background-color:#F2DCD3;
  margin-top: 0;
  text-align: center;
  margin-top: 10px;
}

video{
  padding-top:20px;
  width:80%;
  height:80%;
  max-width: 700px;
}

@media all and (max-width: 550px){
  .featuredcontent{
    display:none;
  }
  .footer-first{
    display:none;
  }
}

@media all and (min-width:550px){
  .about{
    display:flex;
    flex-flow:row;
  }
  .about-me{
    font-size: .95em;
    justify-content: center;
    align-self: center;
    padding-left: 15px;
  }
  .about{
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tab-group{
    display:none;
  }
}

@media all and (min-width:800px){

  .main{
    display:flex;
    flex-flow:row;
  }

  .main{
    margin-top: 20px;
    padding-left:50px;
    padding-right:50px;
  }

  .header2{
    font-size: 1.8em;
    justify-content: center;
    align-self: center;
  }

  .about-me{
    font-size: .85em;
    padding-left: 40px;
    width:100%;
    text-align:left;
    justify-content: center;
    align-self: center;
  }

  img{
    width:100%;
    max-width: 290px;
    padding-bottom: 0px;
    margin-right: 15px;
    padding-left: 15px;
    justify-content: center;
    align-self: center;
  }
}

.footer-nav {
  list-style: none;
  margin: 0;
  background:#E8806E;
  padding:0;
  display:flex;
  flex-flow:row;
  justify-content: center;
}

.footer-nav a{
  text-decoration:none;
  font-size: 1.1em;
  display:block;
  padding:10px 20px;
  color:#20304F;
  text-align:center;
  font-family: 'Josefin Slab', Times, serif;
  font-weight: bold;
}

.footer-nav a:hover{
  background: #F2DCD3;
}

.footer-icons{
  list-style: none;
  margin: 0;
  background:#E8806E;
  display:flex;
  flex-flow:row;
  justify-content: center;
}

.footer-icons a{
  display:block;
  text-align: center;
}

footer img{
  width: 35px;
  padding: 5px 30px;
}

@media all and (max-width:550px){
  .footer-nav{
    display:none;
  }
}

@media all and (min-width:550px){
  .footer-icons{
    display:none;
  }

  .footer-nav{
    flex-flow:row;
    justify-content: flex-end;
  }
  .footer-nav a:hover{
    background: #F2DCD3;
  }
  .footer-first{
    margin-right:auto;
  }
}
