body{
  text-align:center;
  background-color:white;
}

.navigation {
  list-style: none;
  margin: 0;
  background:#E8806E;
  padding:0;
  display:flex;
  flex-flow:column;
}

.navigation a{
  text-decoration:none;
  font-size: 1.1em;
  display:block;
  padding:10px;
  padding-bottom:5px;
  padding-top:5px;
  color:#20304F;
  text-align:center;
  font-family: 'Josefin Slab', Times, serif;
  font-weight: bold;
}

@media (min-width:800px){
  .navigation{
    flex-flow:row;
    justify-content: flex-end;
  }
  .navigation a:hover{
    background: #F2DCD3;
  }
  .first{
    margin-right:auto;
  }
}

.header{
  text-align: center;
  color:#20304F;
  font-family: 'Lobster', Times, serif;
  font-size: 3.5em;
  font-weight: bold;
  margin-top: 5px;
  width: 100%;
}

.header2{
  color:#009FB5;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-style: normal;
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 0;
  text-align: center;
  margin-bottom: 30px;
}

.main{
  text-align:left;
  margin-top:10px;
  padding-bottom: 5px;
}

.about-me{
  width:100%;
  color:#009FB5;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-size: 1em;
  margin-top: 0px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  padding-bottom: 20px;
}

.wrapper{
  display:flex;
  flex-flow:row wrap;
  text-align:center;
  width: 100%;
}

.main{
  flex:1 100%;
  padding-left:50px;
  padding-right:50px;
  text-align:center;
}

img {
  border-style: none;
  width:90%;
  padding-bottom: 30px;
  padding-right: 0px;
}

@media (min-width:750px){
  .main{
    flex:1 auto;
  }

  .photo{
    order:1;
  }

  .about-me{
    order:2;
  }

  .main{
    display:flex;
    flex-flow:row;
    margin-bottom: 10px;
    padding-left:100px;
    padding-right:100px;
  }

  img{
    width:290px;
    padding-bottom: 0px;
    padding-right:40px;
  }

}

.footer-nav {
  list-style: none;
  margin: 0;
  background:#E8806E;
  padding:0;
  display:flex;
  flex-flow:column;
}

.footer-nav a{
  text-decoration:none;
  font-size: 1.1em;
  display:block;
  padding:10px;
  padding-bottom:5px;
  padding-top:5px;
  color:#20304F;
  text-align:center;
  font-family: 'Josefin Slab', Times, serif;
  font-weight: bold;
}

@media (min-width:800px){
  .footer-nav{
    flex-flow:row;
    justify-content: flex-end;
  }
  .footer-nav a:hover{
    background: #F2DCD3;
  }
  .first{
    margin-right:auto;
  }
}
